.card {
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: clip;
  text-align: left;
  max-height: 300px;
  width: 300px;
}

.picture {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.content {
  margin: 10px;
}
